body {
  margin: 0px;
  overflow: hidden;
}

.MuiSwitch-root {
  margin-right: 2px;
}

:root[data-theme="light"] {
  --lato: "Lato", sans-serif;
  --zilla: "Zilla Slab", sans-serif;
  --background: rgb(0 0 0 / 0%);
  --inputBackground: #6868ba;
  --border: #5d646c;
  --background2: #15171b;
  --panel: #282c31;
  --dock: rgb(73 66 152 / 85%);
  --purpleColor: rgb(73 66 152 / 100%);
  --purpleColor0: #8484f0;
  --purpleColor1: #7171f0;
  --purpleColor2: #363696;
  --purpleColor3: #4141d6;
  --purpleColor4: #6760b0;
  --purpleDarkest: #c2b7f6;
  --purplePanel: #7f78c4;
  --purpleLight: #9898ff;
  --purpleLighter: #9a9ae4;
  --purplePinkGradient: linear-gradient(92.22deg, #a798ff, #ff5fac);
  --purplePinkGradientTB: linear-gradient(#a798ff, #ff5fac);
  --panel2: #3a4048;
  --panel2Opaque: #3a4048e0;
  --selected: #5f5ff1;
  --selectedText: #fff;
  --hover: #4b5562;
  --hover2: #636f80;
  --text: #320072;
  --text2: #9fa4b5;
  --text3: #aaa;
  --dropdown: #3c3c6f;
  --red: #f44336;
  --pink: #e91e63;
  --purple: #9c27b0;
  --deepPurple: #673ab7;
  --indigo: #3f51b5;
  --blue: #006eff;
  --lightBlue: #03a9f4;
  --cyan: #00bcd4;
  --teal: #009688;
  --green: #4caf50;
  --lightGreen: #8bc34a;
  --lime: #cddc39;
  --yellow: #ffeb3b;
  --amber: #ffc107;
  --orange: #ff9800;
  --deepOrange: #ff5722;
  --brown: #795548;
  --blueHover: #4d93f1;
  --bluePressed: #0554bc;
  --disabled: #222;
  --disabledText: grey;
  --deemphasized: grey;
  --toolbar: rgb(0 0 0 / 0%);
  --toolbar2: rgb(0 0 0 / 0%);
  --header: #1b1b1b;
  --white: #fff;
  --shadow15: 0 4px 4px rgb(0 0 0 / 15%);
  --shadow30: 0 4px 4px rgb(0 0 0 / 30%);
  --borderStyle: 1px solid #5d646c;
  --borderStyleLight: 1px solid #b9b9b9;
  --themeSwitchTrack: #aab4be;
  --themeSwitchThumb: #c2b7f6;
}
  
:root[data-theme="dark"] {
  --lato: "Lato", sans-serif;
  --zilla: "Zilla Slab", sans-serif;
  --background: rgb(0 0 0 / 0%);
  --inputBackground: #3c3c6f;
  --border: #5d646c;
  --background2: #15171b;
  --panel: #282c31;
  --dock: rgb(31 27 72 / 85%);
  --purpleColor: #5f5ff1;
  --purpleColor0: #8484f0;
  --purpleColor1: #7171f0;
  --purpleColor2: #4d4df2;
  --purpleColor3: #4141d6;
  --purpleColor4: rgb(31 27 72 / 100%);
  --purpleDarkest: #02022d;
  --purplePanel: #1f1b48;
  --purpleLight: #9898ff;
  --purpleLighter: #3c3c6f;
  --purplePinkGradient: linear-gradient(92.22deg, #5236ff, #c20560);
  --purplePinkGradientTB: linear-gradient(#5236ff, #c20560);
  --panel2: #3a4048;
  --panel2Opaque: #3a4048e0;
  --selected: #5f5ff1;
  --selectedText: #fff;
  --hover: #4b5562;
  --hover2: #636f80;
  --text: #fff;
  --text2: #9fa4b5;
  --text3: #aaa;
  --dropdown: #3c3c6f;
  --red: #f44336;
  --pink: #e91e63;
  --purple: #9c27b0;
  --deepPurple: #673ab7;
  --indigo: #3f51b5;
  --blue: #006eff;
  --lightBlue: #03a9f4;
  --cyan: #00bcd4;
  --teal: #009688;
  --green: #4caf50;
  --lightGreen: #8bc34a;
  --lime: #cddc39;
  --yellow: #ffeb3b;
  --amber: #ffc107;
  --orange: #ff9800;
  --deepOrange: #ff5722;
  --brown: #795548;
  --blueHover: #4d93f1;
  --bluePressed: #0554bc;
  --disabled: #222;
  --disabledText: grey;
  --deemphasized: grey;
  --toolbar: rgb(0 0 0 / 0%);
  --toolbar2: rgb(0 0 0 / 0%);
  --header: #1b1b1b;
  --white: #fff;
  --shadow15: 0 4px 4px rgb(0 0 0 / 15%);
  --shadow30: 0 4px 4px rgb(0 0 0 / 30%);
  --borderStyle: 1px solid #5d646c;
  --borderStyleLight: 1px solid #b9b9b9;
  --themeSwitchTrack: #8796a5;
  --themeSwitchThumb: #02022d;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}

::-webkit-scrollbar-thumb {
  background: var(--purplePinkGradientTB);
}

::-webkit-scrollbar-thumb:horizontal {
  background: var(--purplePinkGradient);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}